.social {
    /* redes sociais */
    position: absolute;
    width: 200px;
    height: 30px;
    left: 42%;
    top: 590px;
}

.social.-fb {
    /* facebook-logo */
    position: absolute;
    width: 75px;
    height: 30px;
    left: 75px;
    top: 0px;
}

.social.-tt {
    /* twitter-logo-silhouette */
    position: absolute;
    width: 75px;
    height: 30px;
    left: 20px;
    top: 0px;
}

.social.-ig {
    /* instagram (2) */
    position: absolute;
    width: 75px;
    height: 30px;
    left: 133px;
    top: 0px;
}